[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:vim-scripts/The-NERD-tree.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = git@github.com:sjl/gundo.vim.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule ".vim/bundle/vim-clojure-static"]
	path = .vim/bundle/vim-clojure-static
	url = git@github.com:guns/vim-clojure-static.git
    ignore = untracked
[submodule ".vim/bundle/rainbow_parentheses"]
	path = .vim/bundle/rainbow_parentheses
	url = git@github.com:kien/rainbow_parentheses.vim.git
[submodule ".vim/bundle/vim-virtualenv"]
	path = .vim/bundle/vim-virtualenv
	url = git@github.com:jmcantrell/vim-virtualenv.git
[submodule ".vim/bundle/pig"]
	path = .vim/bundle/pig
	url = git@github.com:motus/pig.vim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule ".vim/bundle/vim-jinja"]
	path = .vim/bundle/vim-jinja
	url = git@github.com:mitsuhiko/vim-jinja.git
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = git@github.com:tpope/vim-fireplace.git
[submodule ".vim/bundle/simplenote.vim"]
	path = .vim/bundle/simplenote.vim
	url = git@github.com:mrtazz/simplenote.vim.git
    ignore = dirty
[submodule ".vim/bundle/goyo.vim"]
	path = .vim/bundle/goyo.vim
	url = git@github.com:junegunn/goyo.vim.git
[submodule ".vim/bundle/vim-sexp-ext"]
	path = .vim/bundle/vim-sexp-ext
	url = git://github.com/tpope/vim-sexp-mappings-for-regular-people.git
[submodule ".vim/bundle/vim-sexp"]
	path = .vim/bundle/vim-sexp
	url = git://github.com/guns/vim-sexp.git
[submodule ".vim/bundle/vim-livedown"]
	path = .vim/bundle/vim-livedown
	url = git://github.com/shime/vim-livedown
[submodule ".vim/bundle/vim-superman"]
	path = .vim/bundle/vim-superman
	url = git@github.com:Z1MM32M4N/vim-superman.git
[submodule ".vim/bundle/Dockerfile"]
	path = .vim/bundle/Dockerfile
	url = git@github.com:ekalinin/Dockerfile.vim.git
[submodule ".vim/bundle/tla.vim"]
	path = .vim/bundle/tla.vim
	url = git@github.com:vim-scripts/tla.vim.git
[submodule ".vim/bundle/yajs-libs.vim"]
	path = .vim/bundle/yajs-libs.vim
	url = git@github.com:othree/javascript-libraries-syntax.vim.git
[submodule ".vim/bundle/yajs.vim"]
	path = .vim/bundle/yajs.vim
	url = git@github.com:othree/yajs.vim
[submodule ".vim/bundle/thrift.vim"]
	path = .vim/bundle/thrift.vim
	url = git@github.com:solarnz/thrift.vim.git
[submodule ".vim/bundle/zeavim.vim"]
	path = .vim/bundle/zeavim.vim
	url = git@github.com:KabbAmine/zeavim.vim.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule ".vim/bundle/vim-yaml"]
	path = .vim/bundle/vim-yaml
	url = git@github.com:avakhov/vim-yaml.git
[submodule ".vim/bundle/vim-elixir"]
	path = .vim/bundle/vim-elixir
	url = git@github.com:elixir-lang/vim-elixir.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule ".vim/bundle/vim-racket"]
	path = .vim/bundle/vim-racket
	url = git@github.com:wlangstroth/vim-racket.git
[submodule ".vim/bundle/vim-eslint-compiler"]
	path = .vim/bundle/vim-eslint-compiler
	url = git@github.com:salomvary/vim-eslint-compiler.git
[submodule ".vim/bundle/parinfer-rust"]
	path = .vim/bundle/parinfer-rust
	url = git@github.com:eraserhd/parinfer-rust.git
[submodule ".vim/bundle/vim-fontsize"]
	path = .vim/bundle/vim-fontsize
	url = git@github.com:drmikehenry/vim-fontsize.git
[submodule ".vim/bundle/requirements.txt.vim"]
	path = .vim/bundle/requirements.txt.vim
	url = git@github.com:raimon49/requirements.txt.vim.git
