[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:vim-scripts/The-NERD-tree.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = git@github.com:sjl/gundo.vim.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/bundle/paredit"]
	path = .vim/bundle/paredit
	url = git@github.com:vim-scripts/paredit.vim
    ignore = untracked
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule ".vim/bundle/vim-clojure-static"]
	path = .vim/bundle/vim-clojure-static
	url = git@github.com:guns/vim-clojure-static.git
    ignore = untracked
[submodule ".vim/bundle/rainbow_parentheses"]
	path = .vim/bundle/rainbow_parentheses
	url = git@github.com:kien/rainbow_parentheses.vim.git
[submodule ".vim/bundle/vim-virtualenv"]
	path = .vim/bundle/vim-virtualenv
	url = git@github.com:jmcantrell/vim-virtualenv.git
[submodule ".vim/bundle/pig"]
	path = .vim/bundle/pig
	url = git@github.com:motus/pig.vim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule ".vim/bundle/vim-jinja"]
	path = .vim/bundle/vim-jinja
	url = git@github.com:mitsuhiko/vim-jinja.git
[submodule ".vim/bundle/vim-redl"]
	path = .vim/bundle/vim-redl
	url = git@github.com:dgrnbrg/vim-redl.git
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = git@github.com:tpope/vim-fireplace.git
