gcalcli
awscli
saws
boto3
watchdog
requests
boom
pythonpy
jupyter
tmuxp
tabulate
msgpack-python
futures
python-dateutil
Fabric
jinja2
glances
docker-py
py-cpuinfo
redis
elasticsearch
cqlsh
pymongo
flake8
