127.0.0.1   localhost
127.0.1.1   pixelmonkey-X220

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

# <site-block-list>
{%- for line in sitelist -%}
    {%- set comment = line.startswith("#") %}
    {%- if comment %}
{{ line }}
    {%- else %}
127.0.0.1   {{ line }}
127.0.0.1   www.{{ line }}
    {%- endif %}
{%- endfor %}
# </site-block-list>

