# <site-block-list>
{%- for line in sitelist -%}
    {%- set comment = line.startswith("#") %}
    {%- if comment %}
{{ line }}
    {%- else %}
127.0.0.1   {{ line }}
127.0.0.1   www.{{ line }}
    {%- endif %}
{%- endfor %}
# </site-block-list>

