[Desktop Entry]
Name=Sound Settings
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=microphone-sensitivity-medium
Exec=env XDG_CURRENT_DESKTOP=GNOME gnome-control-center sound
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=shell
X-GNOME-Bugzilla-Version=3.28.2
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=Preferences;Settings;
X-Ubuntu-Gettext-Domain=gnome-control-center-2.0
StartupWMClass=gnome-control-center
